.intro {
    background-image: url('./Images/BCKGRND.png');
    align-items: start;
    size: relative;
}

.starter {
    padding-top: 25vh;
    padding-left: 5%;
}

.title {
    font-size: 75px;
}

.p-intro {
    font-size: 100px;
}